<form id="secure_3d_form" name="AuthenticationRequest" action="{{ model.mpi_url }}" method="post">
  {% for field in model.form %}
    <input type="hidden" name="{{ field[0] }}" value='{{ field[1] }}' />
  {% endfor %}
</form>

<div class="well-xs well-greyish-xs well-sm well-greyish-sm">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="center-y text-center-xs">
          <img class="icon icon-rotate" src="{{ images.cog.svg }}">
          {% t Starting 3D Secure payment. Please wait... %}</h3>
      </div>
    </div>
  </div>
</div>
