<form id="secure_3d_form" name="AuthenticationRequest" action="{{ model.mpi_url }}" method="post">
  {% for field in model.form %}
    <input type="hidden" name="{{ field[0] }}" value='{{ field[1] }}' />
  {% endfor %}
</form>

<div class="container">
  <div class="highlighted-text center-y text-center-xs">
    <img class="icon-md icon-rotate" src="{{ images.cog.svg }}">
    {% t Starting 3D Secure payment. Please wait... %}
  </div>
</div>

