<div class="container">
  <div class="center-y">
    <iframe style="border:none;" name="challengeIframe"></iframe>
    <form id="3ds_challenge_form" action="{{ model.acs_url }}" method="post" target="challengeIframe">
      <input type="hidden" name="creq" value="{{ model.creq }}"/>
    </form>
  </div>
</div>