<div class="container">
  {% include 'form/error' %}
  <div class="col-sm-8 col-xs-12" style="text-align: center">
    <p>
      {% t Please send %}
      <code>{{ model.bitcoin_amount }}</code> BTC {% t to %}
      <input type="text" read-only value="{{ model.bitcoin_address }}" style="display: block; width: 100%; margin: 10px 0; font-size: 10px !important; text-align: center; padding: 4px; height: auto !important;">
      {% t to complete the payment %}
    </p>
    <p style="text-align: center">
      <img src="{{ model.bitcoin_qr_code }}" style="width:60%">
      <br><br>
      <a class="btn btn-primary" href="{{ model.bitcoin_uri }}">{% t Pay using Bitcoin client %}</a>
    </p>
    <p>{% t When finished, you will be redirected back to your receipt. %}</p>
  </div>
  <div class="col-sm-4 col-xs-6">
      <img src="/assets/v2/images/brands/bitcoin.svg" alt="Bitcoin" title="Bitcoin" style="width:100%">
  </div>
</div>
