<div class="container">
  <form action="paypal_jsdk">
    <div id="paypal-button-container"></div>
  </form>
  <form method="GET" target="_top" id="redirect-form" style="visibility:hidden;">
    <div class="text-center">
      <img src="/assets/v2/images/brands/paypal-payments.svg" alt="PayPalPayments logo">
    </div>
    <div>
      <p>{% t When you click the button below, the PayPalPayments payment window will open. %}</p>
      <p>{% t When finished, you will be redirected back to your receipt. %}</p>
      <button type="submit" class="btn btn-primary">{% t Proceed to payment %}</button>
    </div>
  </form>
</div>