<div id="payment_details" class="col-md-8">
  <p>
    {% t When you click the button below, the Swipp payment window will open. When finished, you will be redirected back to your receipt. %}
  </p>
  <a
    {% unless !model.error %}class="autoclick"{% endunless %}
    href="{{ model.redirect_url }}?txId={{ model.swipp_id }}&callback={{ model.callback_url }}"
  >
    {% t Proceed to payment %}
  </a>

</div>
