<div class="container">
  {% if model.trustly_url %}
    <div class="row">
      <div class="col-sm-4 col-sm-push-8 col-xs-6 col-xs-push-3">
          <img src="/assets/v2/images/brands/trustly.svg" alt="trustly" title="Trustly" style="width:100%">
      </div>

      <div class="col-sm-8 col-sm-pull-4 col-xs-12">
        <p>{% t When you click the button below, the Trustly payment window will open. %}</p>
        <p>{% t When finished, you will be redirected back to your receipt. %}</p>
        <a href="{{ model.trustly_url }}" class="btn btn-info btn autoclick">{% t Proceed to payment %}</a>
      </div>
    </div>
  {% else %}
    {% include 'form/error' %}
    <form class="form-horizontal" method="post" autocomplete="off" action="process_trustly">
      <input type="hidden" name="session_id" value="{{ model.session_id }}" />
      <div class="row">
        <div class="col-sm-4 col-sm-push-8 col-xs-6 col-xs-push-3">
            <img src="/assets/v2/images/brands/trustly.svg" alt="trustly" title="Trustly" style="width:100%">
        </div>

        <div class="col-sm-8 col-sm-pull-4 col-xs-12">
          <div class="form-group">
            <div class="col-xs-12">
              <label for="first_name" class="control-label">{% t First name %}</label>
              <input id="first_name" class="form-control" name="person[first_name]" autocomplete="on" required>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12">
              <label for="last_name" class="control-label">{% t Last name %}</label>
              <input id="last_name" class="form-control" name="person[last_name]" autocomplete="on" required>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12">
              <button type="submit" class="btn btn-info btn">{% t Proceed %}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  {% endif %}
</div>
