<div class="container">
  <div class="text-center">
    <img src="/assets/v2/images/brands/vippspsp.svg" alt="Vipps PSP logo">
  </div>
  <div>
    <p>{% t When you click the button below, the Vipps PSP window will open %}</p>
    <p>{% t When finished, you will be redirected back to your receipt. %}</p>
    <a class="btn btn-primary {% unless !model.error %}autoclick{% endunless %}" href="{{ model.redirect_url }}">{% t Proceed to payment %}</a>
  </div>
</div>