<div class="container">
  <form action="{{ model.redirect_url }}" method="GET" target="_top" class="autosubmit">
    {% for field in model.params %}
      <input type="hidden" name="{{ field[0] }}" value='{{ field[1] }}' />
    {% endfor %}
    <div class="text-center">
      <img src="/assets/v2/images/brands/wechatpay.svg" alt="WeChatPay logo">
    </div>
    <div>
      <p>{% t When you click the button below, the WeChatPay payment window will open. %}</p>
      <p>{% t When finished, you will be redirected back to your receipt. %}</p>
      <button type="submit" class="btn btn-primary">{% t Proceed to payment %}</button>
    </div>
  </form>
</div>
