/* ----- General HTML elements ----- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, tahoma, verdana, sans-serif;
  font-size: 14px;
  color: #28303A;
  line-height: 1.5em;
  background-color: #F1F1F3;
  margin-bottom: 60px;
}

h4, h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  font-size: 18px;
}

img {
  vertical-align: middle;
}

input[type="text"], input[type="tel"], input[type="number"] {
  padding-left: 8px;
  height: 40px;
  font-family: Monaco, Menlo, Consolas, monospace;
  font-size: 16px;
  letter-spacing: 2.2px;
}

input[type="checkbox"], input[type="radio"] {
  vertical-align: -1px;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

select {
  line-height: 16px;
  font-size: 16px;
}

a {
  text-decoration: none;
}

hr {
  height: 1px;
  background-color: #e9e9e9;
  border: none;
}

/* ----- Columns ----- */ 
/* Add more classes as needed. Based on a 12 column layout, meaning that col-(screen size)-12 fills the entire row, 
while col-(screen size)-1 takes up a twelth of the row */ 

.col-xs-1, .col-sm-3, .col-xs-4, .col-sm-4, .col-xs-6, .col-sm-6, 
.col-xs-8, .col-sm-9, .col-xs-11, .col-xs-12, .col-sm-12 {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-4, .col-xs-6, .col-xs-8, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-12 {
  width: 100%;
}

@media (min-width: 481px) {
  .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-9, .col-sm-12 {
      float: left;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-12 {
    width: 100%;
  }
}

/* ----- Layout ----- */
div.btn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 10px;
  line-height: 16px !important;
  font-size: 16px !important;
  cursor: auto;
}

.wrapper {
  width: 450px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 350px;
}

.container {
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.payment-container {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 1.6px 3.6px #00000020,0 .3px .9px #0000001c;
}

.cancel-container {
  float: left;
  width: 100%;
  padding: 10px 0;
}

@media (max-width: 480px) {
  .wrapper {
    width: 100%;
    margin-top: 0;
  }

  .payment-container {
    border-radius: 0 0 10px 10px;
  }

  .cancel-container {
    padding: 15px;
  }
}

/* --- Footer --- */ 
#bottom-bar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #ffffff;
  color: #474747;
  z-index: 999;
}

#bottom-bar .container {
  padding: 0;
}

img.footer-logo {
  height: 18px;
}

#language-toggle {
  font-size: 12px;
}

#language-toggle span, #gateway-toggle span {
  vertical-align: middle;
}

.secured-text {
  font-size: 10px;
  color: #888888;
}

#gateway-info,
#language-selector {
  position: fixed;
  bottom: 39px;
  width: 100%;
  background: #ffffff;
  color: #474747;
  border-top: 5px solid #efefef;
  display: none;
  z-index: 998;
}

#gateway-description, 
#language-list {
  padding: 30px 0 20px 0;
  margin: 0 -10px;
}

#language-list a {
  color: inherit;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-block;
}

#gateway-info button,
#language-selector button {
  background: #efefef;
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media (min-width: 481px) {
  #bottom-bar .col-xs-8, #bottom-bar .col-xs-4 {
    padding: 0;
  }

  #gateway-description, #language-list {
    margin: 0 -25px;
  }
}

/* ----- Payment Window ----- */ 
.content-container {
  display: flex;
  padding: 20px;
}

/* --- Header --- */
.header {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e9e9e9;
}

img#merchant-logo {
  max-width: 100%;
}

#merchant-logo {
  padding: 10px;
}

#merchant-name {
  font-size: 24px;
  line-height: 1.1em;
  word-break: break-word;
  margin: 0 0 3px 0;
}

.header-content #merchant-name {
  font-size: 26px;
}

.header-content {
  padding: 40px 0 30px 0;
}

.header-content-logo {
  display: flex;
  align-items: center;
  padding: 30px 0 20px 0;
}

.logo-container {
  background: #f3f3f3;
  height: 100px;
  width: 100px;
  min-width: 100px;
  margin-right: 25px;
  border-radius: 50px;
  align-items: center;
  display: flex;
}

 #order-info .item {
  display: inline-block;
}

#order-info .item .subscript {
  font-size: 12px;
  color: #999999;
}

@media (max-width: 480px) {
  #merchant-name {
    font-size: 22px;
  }

  .logo-container {
    height: 80px;
    width: 80px;
    min-width: 80px;
  }
}

/* --- Form --- */
#active-form {
  margin-top: -10px;
}

 #active-form form {
  padding: 0 20px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-horizontal .form-group {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.form-group {
  margin-bottom: 15px;
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.form-card-brands {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 60%;
  flex-wrap: wrap;
}

.form-card-brands .card-brand {
  height: 20px;
  width: auto;
  margin: 5px 0px 5px 3px;
  border-radius: 5px;
}

.form-card-brands .card-brand-dim {
  filter: grayscale(1);
  opacity: 0.3;
}

.inline-option {
  display: inline-block;
  margin: 0 0 0 10px;
}

label {
  display: inline-block;
  max-width: 100%;
  color: #474747;
}

.form-group label {
  margin-bottom: 3px;
}

.form-control-feedback {
  position: absolute;
  top: 25px;
  right: 15px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

.form-control-feedback img.check-icon {
  width: 20px;
  height: 20px;
}

.form-control:focus {
  border-color: #1338ff;
  box-shadow: 0px 0px 3px #1338ff;
  outline: 0;
}

.form-control::placeholder {
  color: #a9a9a9;
  opacity: 1;
}

.has-error .help-block {
  color: #a94442
}

#expiration-month-check, 
#expiration-year-check {
  top: 2px;
}

#expiration-month-check {
  right: 2.5px;
}

#expiration-year-check {
  right: 0;
}

.expiration-month-col {
  padding-right: 2px;
  padding-left: 0;
}

.expiration-year-col {
  padding-right: 0;
  padding-left: 2px;
}

#fee, #reservation-notice {
  margin: 10px 0 0 0;
  padding: 0;
  color: #888888;
  font-size: 12px;
  text-align: center;
}

#reservation-notice {
  margin-top: 12px;
}

@media (max-width: 480px) {
  #active-form form {
    width: 100%;
  }
}

/* ----- Alternative Payment Methods ----- */

.alternative-payment-methods {
  padding: 15px;
}

.alternative-payment-methods#selector {
  padding: 0 10px 20px 10px;
}

@media (min-width: 481px) {
  .alternative-payment-methods {
    padding: 20px 0px;
    margin: 0 -4px;
  }
}

.alternative-payment-methods .payment-method .btn,
.paypal-btn {
  margin-top: 10px;
  border: 1px solid #dedede;
  background-color: #ffffff;
  border-radius: 10px;
  min-height: 90px;
}

.alternative-payment-methods .payment-method .btn:hover,
.paypal-btn:hover {
  border-color: #1338ff;
  box-shadow: 0px 0px 3px #1338ff;
}

.alternative-payment-methods .payment-method .btn img {
  width: 100%;
  max-height: 66px;
}

.alternative-payment-methods .col-sm-4 {
  padding-right: 4px;
  padding-left: 4px;
}

#selector .payment-method .btn {
  min-height: auto;
}

/* --- Apple Pay and Google Pay --- */
/* These payment methods are browser/device dependent and load differently to other payment methods. 
The "disabled" class is applied dynamically. */

.alternative-payment-methods .payment-method-apple-pay > .btn {
  overflow: hidden;
}

.alternative-payment-methods .payment-method-apple-pay.disabled > .btn,
.alternative-payment-methods .payment-method-google-pay.disabled > .btn {
  cursor: not-allowed;
  background: #dfdfdf;
}

.alternative-payment-methods .payment-method-apple-pay.disabled .apple-pay-btn {
  background-color: #dfdfdf;
}

.alternative-payment-methods .payment-method-apple-pay.disabled > .btn:hover,
.alternative-payment-methods .payment-method-google-pay.disabled > .btn:hover {
  border-color: #dedede;
  box-shadow: none;
}

.apple-pay-btn {
  display: block;
  background-image: -webkit-named-image(apple-pay-logo-black); /*Only supported in Safari*/
  background-color: #ffffff;
  background-size: 100% 75%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-sizing: border-box;
  padding: 0px;
  margin: 12px 0;
  width: 100%;
  height: 42px;
}

/* --- PayPal --- */
/* Because of requirements from PayPal, this payment method is generated by PayPal's external JavaScript */ 
/* This unfortunately gives you less control over the styling of the button */ 

.paypal-btn {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  cursor: auto;
}

/* ----- Design elements ----- */ 

/* --- Buttons --- */ 
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a.btn, button[type="submit"] {
  width: 100%;
  padding: 11px;
  margin-top: 15px;
  line-height: 1em;
  font-size: 16px;
}

.btn:active, .paypal-btn:active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.btn-primary {
  background-color: #1338ff;
}

.btn-primary, .btn-success {
  color: #ffffff;
  border-radius: 20px;
}

.btn-primary:hover {
  background-color: #008fff;
}

.btn-success {
  background-color: #5cb85c;
}

.btn-success:hover {
  background-color: #449d44;
}

.btn-cancel {
  margin-bottom: 60px;
  color: #999999;
  background-color: #ffffff;
}

.btn-cancel:hover {
  color: #c9302c;
  background: #f9e3e3;
  border-color: #f4cdcd;
}

.btn-cancel img.icon-ban {
  opacity: 0.5;
}

.btn-cancel:hover img.icon-ban {
  opacity: 1.0;
}

/* --- Info bubbles --- */
.bubble {
  position: relative;
  width: 100%;
  padding: 10px;
  border: 1px solid #acbdc7;
  border-radius: 5px;
  background: #f2f7fa;
  color: #557e94;
  display: none;
  margin-bottom: 10px;
}

.bubble *:first-child {
  margin-top: 0;
  padding-top: 0;
}

.bubble *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.bubble:before,
.bubble:after {
  content: "";
  position: absolute;
  top: -14px;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: #f2f7fa transparent;
  display: block;
  width: 0;
  z-index: 2;
}

.bubble:before {
  top: -15px;
  z-index: 1;
  border-bottom-color: #acbdc7;
}

.bubble-cardbrand {
  margin-top: 15px;
}

.bubble.bubble-cvd:before,
.bubble.bubble-cvd:after {
  right: 20%;
}

.bubble.bubble-three-d:before,
.bubble.bubble-three-d:after {
  left: 20%;
}

#cvd-help img {
  width: 100%;
}

/* --- Icons --- */ 

img.icon {
  height: 16px;
  width: 16px;
  margin-left: 3px;
  margin-right: 3px;
}

img.icon-sm {
  height: 24px;
  width: 24px;
  margin-right: 9px
}

img.icon-md {
  height: 32px;
  width: 32px;
  margin-right: 12px;
}

img.icon-info {
  margin-bottom: 3px;
  margin-left: 0px;
}

img.icon-rotate {
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* ----- Utility classes ----- */

.clickable {
  cursor: pointer;
}

.center-y {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.center-xy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-right {
  text-align: right;
  justify-content: flex-end;
}

.text-center {
  text-align: center;
  justify-content: center;
}

.float-right {
  float: right;
}

.highlighted-text {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.logo-image {
  width: 100px; 
}

@media (max-width: 480px) {
  .text-center-xs {
    text-align: center;
    justify-content: center;
  }
}
