/* Bootstrap classes */ 
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  vertical-align: middle;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-horizontal .form-group {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: inline-block;
  max-width: 100%;
  color: #474747;
  /*margin-bottom: 5px;
  font-weight: bold;*/
}

.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}

.form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}

.has-feedback label~.form-control-feedback {
  top: 25px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
}

.btn-success:hover {
  color: #fff;
  background-color: #449d44;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  /*min-height: 1px;*/
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-push-3 {
  left: 25%;
}

@media (min-width: 481px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

/*   .col-sm-8 {
    width: 66.66666667%;
  } */

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-push-8 {
    left: 66.66666667%;
  }

  .col-sm-pull-4 {
    right: 33.33333333%;
  }
}


/*
 * Bootstrap overrides
 */
.form-horizontal .control-label {
  padding-top: 0;
  margin-bottom: 3px;
}


/*
 * General HTML elements
 *
 */

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  margin-bottom: 60px;
  color: #28303A;
  border-top: 0px solid #28303A;
}

body, td {
  font-family: arial, tahoma, verdana, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

input[type="text"], input[type="tel"], input[type="number"] {
  padding-left: 8px !important;
  height: 40px !important;
  font-family: Monaco, Menlo, Consolas, monospace;
  font-size: 16px !important;
  letter-spacing: 2.2px;
}

select {
  line-height: 16px !important;
  font-size: 16px !important;
}

a.btn, button[type="submit"], button[type="button"] {
  width: 100%;
  padding: 11px;
  line-height: 16px !important;
  font-size: 16px !important;
}

a.btn, button[type="submit"] {
  margin-top: 15px;
}

/*
 *
 * Layout
 *
 */

.header h1#merchant-name {
  padding: 0;
  margin: 0 0 5px 0;
}
.header img#merchant-logo {
  max-width: 100%;
  margin-bottom: 20px;
}

.btn-cancel {
  margin: 30px 0;
  width: 100%;
  color: #999;
  background-color: #ffffff;
}
.btn-cancel:hover {
  color: #c9302c !important;
  background: #f9e3e3 !important;
  border-color: #f4cdcd !important;
}
.btn-cancel img.icon-ban {
  opacity: 0.5;
}
.btn-cancel:hover img.icon-ban {
  opacity: 1.0;
}


#footer #gateway-info,
#footer #language-selector {
  position: fixed;
  bottom: 39px;
  width: 100%;
  background: #ffffff;
  color: #474747;
  border-top: 1px solid #dedede;
  display: none;
  z-index: 998;
}

#footer #gateway-info #gateway-info-inner,
#footer #language-selector #language-selector-inner {
  border-top: 5px solid #efefef;
}

#footer #gateway-info #gateway-info-inner #gateway-description,
#footer #language-selector #language-selector-inner #language-list {
  padding: 30px 0 20px 0;
}

#footer #language-selector #language-selector-inner #language-list a {
  color: inherit;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-block;
}

#footer #gateway-info button,
#footer #language-selector button {
  background: #efefef;
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#footer #gateway-info button:hover,
#footer #language-selector button:hover {
  background: #efefef;
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#footer #bottom-bar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #ffffff;
  color: #474747;
  z-index: 999;
}
#footer #bottom-bar img {
  height: 24px;
}


/*
 * Order Info
 *
 */

#order-info .item {
  display: inline-block;
}

#order-info .item .subscript {
  font-size: 12px;
  color: #999;
}


/*
 * Active Form
 *
 */

#active-form .form-card-brands .card-brand {
  width: 60px;
  height: 38px;
  margin: 5px 0px 5px 3px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
  background: #fff;
}

#active-form .form-card-brands .card-brand-dim {
  filter: grayscale(1);
  opacity: 0.3;
}
/*
#active-form .form-control-feedback {
  width: 28px !important;
}
*/
#active-form .form-control-feedback img.check-icon {
  width: 20px;
  height: 20px;
}

#expiration-month-check.form-control-feedback, #expiration-year-check.form-control-feedback {
  top: 2px;
}

#expiration-month-check.form-control-feedback {
  right: 2.5px;
}

#expiration-year-check.form-control-feedback {
  right: 0;
}

.expiration-month-col {
  padding-right: 2px;
  padding-left: 0;
}

.expiration-year-col {
  padding-right: 0;
  padding-left: 2px;
}


#active-form #cvd-help img {
  width: 100%;
}

#active-form #fee, #active-form #redirect-msg {
  margin: 10px 0 0 0;
  padding: 0;
  color: #888;
  font-size: 12px;
}


/*
 * Alternative Payment Methods
 *
 */

#alternative-payment-methods {
  padding: 20px 0;
}
#alternative-payment-methods .payment-method .btn {
  margin-top: 10px;
  border-color: #dedede;
  background: #fff;
}
#alternative-payment-methods .payment-method .btn:hover {
  border-color: #4ba8d6;
  box-shadow: 0px 0px 3px #4ba8d6;
}
#alternative-payment-methods .payment-method .btn img {
  width: 100%;
  max-width: 256px;
  max-height: 66px;
}


/*
 * Misc. elements
 *
 */

.container {
  max-width: 480px;
}

.well-sm {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 480px) {
  .well-blueish-xs {
    background: #f2f7fa;
    border-top: 1px solid #d9dee1;
    border-bottom: 1px solid #d9dee1;
    color: #557e94
  }

  .text-center-xs {
    text-align: center;
    justify-content: center !important;
  }
}

@media (min-width: 481px) {
  .well-blueish-sm {
    background: #f2f7fa;
    border-top: 1px solid #d9dee1;
    border-bottom: 1px solid #d9dee1;
    color: #557e94
  }
}

.bubble {
  position: relative;
  width: 100%;
  padding: 10px;
  border: 1px solid #acbdc7;
  border-radius: 5px;
  background: #f2f7fa;
  color: #557e94;
  display: none;
  margin-bottom: 10px;
}

.bubble *:first-child {
  margin-top: 0;
  padding-top: 0;
}
.bubble *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.bubble:before,
.bubble:after {
  content: "";
  position: absolute;
  top: -14px;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: #f2f7fa transparent;
  display: block;
  width: 0;
  z-index: 2;
}

.bubble:before {
    top: -15px;
    z-index: 1;
    border-bottom-color: #acbdc7;
}

.bubble.bubble-cvd:before,
.bubble.bubble-cvd:after {
  right: 20%;
}

.bubble.bubble-three-d:before,
.bubble.bubble-three-d:after {
  left: 20%;
}

.bubble.bubble-btc-address:before,
.bubble.bubble-btc-address:after {
  left: 40%;
}

img.icon {
  height: 16px;
  width: 16px;
  margin-left: 3px;
  margin-right: 3px;
}

img.icon-sm {
  height: 24px;
  width: 24px;
  margin-right: 9px
}

img.icon-md {
  height: 32px;
  width: 32px;
  margin-right: 12px;
}

img.icon-info {
  margin-bottom: 3px;
  margin-left: 0px;
}

img.icon-rotate {
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

h3 img.icon {
  height: 32px !important;
  width: 32px;
  margin-left: 0 !important;
  margin-right: 9px !important;
}

h4 img.icon {
  height: 24px !important;
  width: 24px;
  margin-left: 0 !important;
  margin-right: 6px !important;
}

/*
 * Utility classes
 *
 */

.clickable {
  cursor: pointer;
}

.error {
  color: #d9534f;
  font-size: 16px;
}

.center-y {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.center-xy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-right {
  text-align: right;
  justify-content: flex-end;
}

.text-center {
  text-align: center;
  justify-content: center;
}

/*
 * ApplePay
 *
 */

#alternative-payment-methods .payment-method-apple-pay > .btn {
  overflow: hidden;
}

#alternative-payment-methods .payment-method-apple-pay.disabled > .btn {
  cursor: not-allowed;
  background: #dfdfdf;
}

#alternative-payment-methods .payment-method-apple-pay.disabled .apple-pay-btn {
  background-color: #dfdfdf;
}

#alternative-payment-methods .payment-method-apple-pay.disabled > .btn:hover {
  border-color: #dedede;
  box-shadow: none;
}

.apple-pay-btn {
  display: block;
  background-image: -webkit-named-image(apple-pay-logo-black);
  background-color: white;
  background-size: 100% 75%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-sizing: border-box;
  padding: 0px;
  margin: 12px 0;
  width: 100%;
  height: 42px;
}

/* New CSS - incorperate into existing once tested */ 

body {
  background-color: #F1F1F3;
}

.wrapper {
  width: 450px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 350px;
}

.flex {
  display: flex;
}

.container {
  max-width: 450px;
}

.header {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  padding: 40px 0 40px 0;
  border-bottom: 1px solid #e9e9e9;
}

.header h1#merchant-name {
  font-size: 26px;
}

.payment-container {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 1.6px 3.6px #0002,0 .3px .9px #0000001c;
}

#active-form form {
  /*display: flex;*/
  padding: 10px 40px 20px 40px;
  /*width: 450px;*/
}

.form-card-brands {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 0;
  max-width: 60%;
  flex-wrap: wrap;
}

#active-form .form-card-brands .card-brand {
  height: 20px;
  width: auto;
  box-shadow: none; /*currently overriding other CSS, remove once said styling is gone*/
}

/*.form-card-brands img {
  max-width: 30px;
  max-height: 30px;
}*/

.card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

h4 {
  font-size: 18px;
}

.highlighted-text {
  font-size: 16px;
  font-weight: bold;
}

.btn-info, .btn-primary {
  background-color: #1338ff;
}

.btn-info, .btn-primary, .btn-success {
  color: #ffffff;
  border-radius: 20px;
  border: none;
}

.btn-info:hover {
  background-color: #008fff;
}

#alternative-payment-methods {
  padding: 20px 15px;
}

#alternative-payment-methods .payment-method .btn {
  border-radius: 10px;
  min-height: 90px;
}

#alternative-payment-methods .payment-method .btn:hover {
  border-color: #1338ff;
  box-shadow: 0px 0px 3px #1338ff;
}

#alternative-payment-methods .col-sm-4 {
  padding-right: 5px;
  padding-left: 5px;
}

.form-control:focus {
  border-color: #1338ff;
  box-shadow: 0px 0px 3px #1338ff;
  outline: 0;
}

.form-control::placeholder {
  color: #a9a9a9;
  opacity: 1;
}

input[type="checkbox"] {
  vertical-align: -1px;
}

#footer #bottom-bar img.footer-logo {
  height: 18px;
}

#language-toggle {
  font-size: 12px;
}

.secured-text {
  font-size: 10px;
  color: #888888;
}

#bottom-bar span.clickable {
  vertical-align: middle;
}


@media (min-width: 481px) {
  #bottom-bar .col-xs-8, #bottom-bar .col-xs-4 {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 100%;
  }

  #active-form form {
    width: 100%;
  }
}