<div class="well-xs well-greyish-xs well-sm well-greyish-sm">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="center-y text-center-xs">
          <iframe style="flex-grow: 1; border: none; margin: 0; padding: 0;"
                  src="{{ model.threed_url }}"
                  height="600px"
                  width="500px"
                  name="threedIframe"
                  id="threedIframe">
          </iframe>
        </h3>
      </div>
    </div>
  </div>
</div>
