<div class="container">
  <div class="center-y">
    <iframe style="border: none; height: 600px; width: 380px;"
            src="{{ model.threed_url }}"
            name="threedIframe"
            id="threedIframe">
    </iframe>
  </div>
</div>