<div class="container" data-session-id="{{ model.session_id }}">
  <div class="highlighted-text center-y">
    <img class="icon-md" src="{{ images.info-circle.svg }}">
    {% t You have cancelled the payment %}
  </div>
</div>