<div class="well-xs well-blueish-xs well-sm well-blueish-sm" data-session-id="{{ model.session_id }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="center-xy"><i class="fa fa-fw fa-3x fa-info-circle"></i> {% t You have cancelled the payment %}</h3>
      </div>
    </div>
  </div>
</div>
