<div class="container" data-session-id="{{ model.session_id }}">
  <div class="highlighted-text center-y">
    <img class="icon-md" alt="Info" src="{{ images.info-circle.svg }}">
    {% t Order expired %}
  </div>
  <div>
    <p class="text-center-xs">{% t You did not finish the purchase within the time frame. %}
      {% if model.cancel_url %}
        <a href="{{ model.cancel_url }}">{% t Click here to continue %}</a>.
      {% endif %}
    </p>
  </div>
</div>