<div id="payment_details" class="col-md-8">
  <p class="error text-center">
    {{ lang.deadline.info }}
  </p>
  <p class="error text-center">
    <a href="{{ model.session_id }}/cancel-payment">
      {{ lang.deadline.continue }}
    </a>
  </p>
</div>

