<div class="well-xs well-blueish-xs well-sm well-blueish-sm" data-session-id="{{ model.session_id }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="center-all"><i class="fa fa-fw fa-3x fa-frown-o"></i> {{ model.error | translate: lang.error.errors }}</h3>
      </div>
      <div class="col-xs-12">
        {% if model.description %}
          <p>{{ model.description }}</p>
        {% endif %}
      </div>
      <div class="col-xs-12">
        {% if model.retry %}
          <p class="text-center"><a class="btn btn-info" href="/{{ model.session_id }}/payment-method-undo">{% t Try again %}</a></p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
