<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center-xs">{{ model.displayname }}</h1>
        {% include "order_info" %}
      </div>
    </div>
  </div>
</div>

{% include "content" %}

{% if model.show_cancel? %}
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-push-3 col-xs-12" style="text-align:center">
      <a href="/{{ model.session_id }}/cancel-payment" style="color: #999"><i class="fa fa-fw fa-ban"></i> Cancel Payment</a>
    </div>
  </div>
</div>
{% endif %}

<div id="footer">
  <div id="gateway-info">
    <div id="gateway-info-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12" style="text-align: center">
            <button class="btn btn-default" data-hide="#gateway-info"><i class="fa fa-arrow-down"></i></button>
          </div>
        </div>
        <div class="row gateway-description">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <p>QuickPay is your secure, reliable and dynamic payment service provider. Learn more about our services at <a href="https://www.quickpay.net">www.quickpay.net</a>.</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <p>QuickPay operates at the highest level of security and is certified by the PCI Security Standards Council.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="bottom-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <img class="clickable" src="{{ images.quickpay_logo_inverse.png }}" data-toggle="#gateway-info" alt="About QuickPay">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="pull-right"><span class="clickable" data-toggle="#gateway-info"><i class="fa fa-fw fa-lock"></i> SSL encrypted</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
