<div id="order-info">
  <div id="order-details">
    <div class="order-details-item">
      <strong>{% t Order number %}</strong><span class="pull-right">{{ model.order_id }}</span>
    </div>
    {% if model.deadline? %}
      <div class="order-details-item">
        <strong>{% t Expires in %}</strong><span id="time_left" class="pull-right">{{ model.time_left }}</span>
      </div>
    {% endif %}
  </div>
</div>
