<div id="alternative-payment-methods" class="well-blueish-xs well-blueish-sm well-xs well-sm">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center-xs">
        <h3>Select Payment Method</h3>
      </div>
      <div class="text-center">
        {% for method in model.payment_methods %}
          {% include "payment_methods_list" method=method %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
