<div id="selector" class="flex alternative-payment-methods">
  <div class="container text-center">
      <h4>Select Payment Method</h4>
      <div>
        {% for method in model.payment_methods %}
          {% include "payment_methods_list" method=method %}
        {% endfor %}
      </div>
  </div>
</div>
