<div class="well-xs well-greyish-xs well-sm well-greyish-sm" data-session-id="{{ model.session_id }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="center-y text-center-xs">
          <img class="icon" src="{{ images.check-circle-o.svg }}">
          {% if model.transaction_type == "payout" %}
            {% t You have completed the payout %}
          {% elsif model.transaction_type == "card" %}
            {% t You have saved the card %}
          {% elsif model.transaction_type == "subscription" %}
            {% t You have completed the subscription %}
          {% else %}
            {% t You have completed the payment %}
          {% endif %}
        </h3>
      </div>
    </div>
  </div>
</div>
