<div class="well-xs well-blueish-xs well-sm well-blueish-sm" data-session-id="{{ model.session_id }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="center-all"><i class="fa fa-fw fa-3x fa-check-circle-o"></i> {{ lang.success.message }}</h3>
      </div>
    </div>
  </div>
</div>
