<div class="well-xs well-greyish-xs well-sm well-greyish-sm" data-session-id="{{ model.session_id }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="center-y text-center-xs">
          <img class="icon icon-rotate" src="{{ images.cog.svg }}">
          {% t Please wait... %}
        </h3>
      </div>
      <div class="col-xs-12 text-center-xs">
        <p>{% t The process may take up to 5 minutes. %} <a href="{{ model.autorefresh_to }}">{% t Click here if processing takes a long time %}</a>.</p>
      </div>
    </div>
  </div>
</div>
