<div id="waiting" class="well-xs well-blueish-xs well-sm well-blueish-sm" data-session-id="{{ model.session_id }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-2">
        <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
      </div>
      <div class="col-xs-10">
        <h3 class="text-center" style="margin: 0">{{ lang.waiting.help }}</h3>
        <p>It can take up to 5 minuttes to complete. <a href="/{{ model.session_id }}/waiting">{{ lang.waiting.refresh }}</a>.</p>
      </div>
    </div>
  </div>
</div>
